* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 65.5%;
}
html,
body {
  height: 100%;
  width: 100%;
}
#clockcontainer {
  position: relative;
  margin: auto;
  width: 40rem;
  height: 40rem;
  background-image: url(/assets/clock.png);
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10rem;
  transform-origin: bottom;
}
#hour {
  top: 26%;
  left: 48.8%;
  width: 0.9rem;
  height: 9rem;
}
#minute {
  top: 19%;
  left: 49%;
  width: 0.6rem;
  height: 13rem;
}
#second {
  top: 14%;
  left: 49%;
  width: 0.5rem;
  height: 15rem;
}
